% -*- mode: erlang -*-
{plugins, [rebar_ct]}.
{cover_enabled, true}.
{sub_dirs, [
	    "src",
            "rel"
           ]}.

% Dependencies

% Documentation
{edoc_opts, [{preprocess, true}, {packages, true},{includes, "./include"}] }.


% Common test
{ct_dir, "./test"}.
{ct_log_dir, "./test/log"}.
{ct_extra_params, "-pa ./lib/jc/ebin -pa ./lib/resource_discovery/ebin -pa ./lib/change_relay/ebin -pa ./lib/jc_http_server/ebin -pa deps/mochiweb/ebin -cover ./test/jc_store.coverspec"}.


{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.




